body {
    margin: 0;
    font-family: Arial, sans-serif;

    /* Background Image */
    background: url("https://images.unsplash.com/photo-1523240795612-9a054b0db644?auto=format&fit=crop&w=1600&q=80") no-repeat center center/cover;

    min-height: 100vh;
    color: white;
    text-align: center;
    position: relative;
}

/* Dark overlay */
body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: -1;
}


header {
    padding: 40px 20px;
}

.courses {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    padding: 20px;
}

.course-card {
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(12px);
    width: 280px;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.4);
    overflow: hidden;
    transition: 0.3s;
}

.course-card:hover {
    transform: translateY(-10px);
}

.course-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.course-content {
    padding: 15px;
}

button {
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background: #ffcc00;
    font-weight: bold;
}

button:hover {
    background: #ffaa00;
}

.seats {
    margin-top: 10px;
    font-size: 14px;
}

