body {
    margin: 0;
    font-family: Arial, sans-serif;

    /* Background Image */
    background: url("https://images.unsplash.com/photo-1555949963-aa79dcee981c?auto=format&fit=crop&w=1600&q=80") no-repeat center center/cover;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

/* Dark Overlay */
body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: -1;
}

/* Glass Effect Container */
.container {
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    width: 800px;
    padding: 30px;
    border-radius: 20px;
    text-align: center;

    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
    color: white;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
}

button {
    margin-top: 15px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    background: #00c9ff;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #0099cc;
}

.password-card {
    background: rgba(255,255,255,0.15);
    margin-top: 15px;
    padding: 15px;
    border-radius: 12px;
    text-align: left;
}

.small-btn {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.show-btn { background: #3498db; color: white; }
.copy-btn { background: #2ecc71; color: white; }
.delete-btn { background: red; color: white; }

.strength {
    font-size: 13px;
    margin-top: 5px;
    color: #ffdd57;
}
